<div class="container-fluid">
    <div class="row">
        <div class="card flex-row flex-wrap bg-dark text-white w-100" style="width: 100%;">
            <div class="card-header border-0">
                <img width="50" height="50" src="{{MEMBERS.IconUrl}}" alt="???" class="rounded-circle">
            </div>
            <div class="card-block px-2">
                <h4 class="card-title">
                    {{MEMBERS.DiscordName}}#{{MEMBERS.Discriminator}}
                </h4>
                {{MEMBERS.Nickname}}
                <p class="card-text">
                    {{MEMBERS.DiscordID}}
                </p>
            </div>
        </div>
		<div class="col-md-2">
            <br>
            <div class="card text-center bg-dark text-white">
                <div class="card-header">
                    Roles
                </div>
                <div class="card-body">
                    {{#each MEMBERS.Roles}} 
                        <div class="rounded-pill bg-secondary text-white px-3" style="border: 2px solid {{RoleColour}};">
                            <font color="{{RoleColour}}">
                                <div style="" class="align-middle">
                                    • {{RoleName}}
                                </div>
                            </font>
                        </div>
                        <br>
                    {{/each}}
                </div>
                <div class="card-footer text-muted">
                    
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <br>
            <div class="card text-center bg-dark text-white">
                <div class="card-header">
                    Activity
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table table-condensed table-striped table-dark" style="border-collapse:collapse;">
                                <thead>
                                    <tr>
                                        <th scope="col">MSG</th>
                                        <th scope="col">VOIP</th>
                                        <th scope="col">Date</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                {{{Table}}}
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                            
                    </div>
                </div>
                <div class="card-footer text-muted">
                    
                </div>
            </div>
        </div>
    </div>
</div>